
    .content {
        width: 60%;
        margin: 0;
        top: 0;
        position: unset;
        background-color: rgb(238, 206, 227);
    }

    body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
    }
    .columm-left {
        float: left;
        height: 548px;
        margin-left: -18px;
        width: 65%;
        margin-top: 34px;
        border-radius: 5px;
        background-color: #288496bd;
        padding: 10px;
    }
    .columm-right {
        float: right;
        width: 28%;
        margin-top: 15px;
    }

    input {
        width: 96%;
        height: 27px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: rgba(247, 240, 245, 0.91);
    }

    textarea {
        width: 96%;
        height: 124px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: rgba(247, 240, 245, 0.91);
    }

    select {
        border: none;
        border-radius: 4px;
        width: 96%;
        height: 27px;
        background-color: rgba(247, 240, 245, 0.91);
    }


    #contact {
        width: 100%;
        height: 271px;
        margin-left: -40px;
        margin-top: 19px;
        border-radius: 5px;
        background-color: #288496bd;
        padding: 11px;
    }
    #note {
        width:100%;
        height: 247px;
        margin-left: -39px;
        margin-top: 9px;
        border-radius: 5px;
        background-color: #288496bd;
        padding: 11px;
    }

    .menu ul {
        background: #1F568B;
        list-style-type: none;
        text-align: center;
        overflow: hidden;
        margin-left: -1px;
        margin-top: 16px;
    }

    .menu ul li a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .menu ul .icon {
        float: left;
    }

    .menu ul li a .active {
        background-color: #4CAF50;
        color: white;
    }
    @media all and (max-width: 1163px) {
        .columm-left {
            float: left;
            height: 548px;
            margin-left: -25px;
            width: 62%;
            margin-top: -4px;
        }
        #contact {
            height: 249px;
            margin-left: -40px;
            margin-top: -18px;
        }
        #note {
            height: 268px;
            margin-left: -39px;
            margin-top: 7px;
        }
    }
    @media (max-width: 786px){
        .columm-left {
            margin-left: 3px;
            width: 53%;
        } 
        #contact {
            height: 249px;
            margin-left: -57px;
            width: 161px;
        }
        #note {
            height: 268px;
            margin-left: -57px;
            width: 161px;
        }
    }
    @media (max-width: 425px){
        #grad1{
            height: auto;
        }
        .content {
            width: 90%;
        }
        main {
            width: 100%;
        }
        .columm-left{
            width: 93%;
            float: none;
            padding-bottom: 0px;
        }
        
        .columm-right{
            margin: 0;
            width: 100%;
            float: none;
        }
        #note {
            margin: 1px;
            padding: 13px;
            width: 93%;
            margin-top: 20px;
        }
        #contact {
            margin: 1px;
            width: 94%;
            height: auto;
            margin-top: 20px;
        }
    }
  

